html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{

    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.wrapper{
    margin-right: auto;
    margin-left: auto;

    max-width: 1100px;
}

h1{
    margin: 0;
    font-family: "Roboto";
    font-size: 96px;
    color: white;    
    padding-left: auto;
    padding-right: auto;
    letter-spacing: 25px;
}
   
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #34495E;
    margin: 0;
}


h2{
    margin:0;
    font-family: "Lato";
    font-size: 48px;
    font-weight: 100;
}

.hero{
    display: flex;
    justify-content: center;
    text-align: right;
}

.hero .wrapper {
    margin-top: 55px;
}

h3{
    font-family: "Quicksand", sans-serif;
    font-size: 2.25em;
    line-height: 60px;
    font-weight: normal;
}



a{
    text-decoration: none;
    color: black;
}

.Questions article:hover {
        background-color: #BDC3C7;
            width: 1100px;

}

.droite a{
    display: flex;
    align-content: space-between;
    width: 1100px;
    align-items: center;
}

.gauche a{
    display: flex;
    align-content: space-between;
    width: 1100px;
    align-items: center;
}

.texte .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 345px;
}

footer{
    background-color: #2980B9;
}

footer .wrapper{
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

article{
    font-size: 20px;
    height: 345px;
    width: 471px;
    line-height: 40px;
}

footer.p{
    font-family: "roboto";
    font-size: 20;
    font-weight: bold;
}


.interest{
    width:210px;
    height: 210px;
    border: 5px solid #D35400;

    border-radius: 100px;

    background-color: white;

    color: #D35400;

    font-size: 30px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.question{
    display:flex;
}

.icone{
    width:50px;
    height: 50px;
    border: 5px solid #BDC3C7;

    border-radius: 100px;

    background-color: white;

    color: black;

    display: flex;

    justify-content: center;
    align-items: center;
}